# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
notes/

# R specific files
.Rhistory
.Rapp.history
.RData
.Rprofile.user
.Rproj.user/
renv/library/
renv/python/

# Quarto files
/.quarto/
*_files/
/_site/
/_book/
/_freeze/
.quarto/
